#pathmaker-environment {
  width: 960px;
  height: 540px;
  margin: 1em auto;
  border: 1px solid red;
  background-color: #e5e5e5;
  cursor: default;
}


#pathmaker-destination {
  display: block;
  width: 960px;
  height: 18em;
  margin: 1em auto;
}